/* :root{

} */

body{
    margin : 0;
}

#nav{
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    text-align: center;
    padding : 1rem;
    font-size: 1.2rem;
    background-color : #75934e;
}

#footer{
    border-top : 1px solid black;
    text-align: center;
    background-color : #75934e;
    padding : 1rem;
}

#footercontent{
    margin : 1rem 6rem;
}

#content{
    padding : 3rem;
    display : flex;
    flex-direction: column;
    align-items: center;
}

#inputTxt{
    width : 60%;
    height : 15vh;
    padding : 1rem;
    margin : 1rem 0;
}

#translatebtn, #tryagainbtn{
    padding : 1rem 2rem;
    font-size : 1rem;
    margin : 1rem 2rem 1rem 0;
    background-color: #75934e;
}

#outputTxt{
    width : 60%;
    height : 15vh;
    border : 1px solid black;
    padding : 1rem;
    margin : 1rem 0 6rem 0; 
}